@charset "UTF-8";

div {
  border: 1px solid black;
/*   margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  
  margin: 100px 150px 100px 80px; 시계방향 상우하좌*/
/*   margin: 100px; 상하좌우 전체 */
  margin: 100px 200px; /* 상하100, 좌우 200 */
  background-color: lightblue;
  
  padding: 50px;
}